@model IEnumerable<MVC5_Otomasyon.Models.Classes.Kategori>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h4 style="margin-top:20px; text-align:center; color:green">Kategori Listesi</h4>

@*<div id="toolbar">
        <select class="form-control">
            <option value="">Export Basic</option>
            <option value="all">Export All</option>
            <option value="selected">Export Selected</option>
        </select>
    </div>*@



<div id="toolbar">
    <button class="btn btnStyle" type="submit" onclick="location.href='@Url.Action("Create")'"> <i class="fa fa-plus-circle" style="color: green;"></i> Ürün Ekle</button>
</div>
<table id="table"
       data-click-to-select="true"
       data-toggle="table"
       data-toolbar="#toolbar"
       data-show-export="true"
       data-pagination="true"
       data-search="true"
       data-strict-search="true"
       data-maintain-selected="true"
       data-sort-name="name"
       data-sort-order="desc"
       data-page-size="10"
       data-page-list="[5, 10, 20, 40, 50, 100, ALL]"
       @*data-export-options='{
         "fileName": "test",
         "ignoreColumn": ["state"]
       }'*@>
    <thead>
        <tr>

            @*<th data-field="state" data-checkbox="true" id="chcstate">

                </th>*@

            <th data-sortable="true">

                @Html.DisplayNameFor(model => model.KategoriID)
            </th>
            <th data-sortable="true">
                <span>Kategori Adı</span>

            </th>
            <th></th>

        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            @*<td></td>*@

            <td>
                <b>
                    @Html.DisplayFor(modelItem => item.KategoriID)
                </b>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KategoriAd)
            </td>
            <td>

                @*@Html.ActionLink("Güncelle", "Edit", new { id = item.KategoriID }, new { @style = "color:#078F00;" }) |

                    @Html.ActionLink("Sil", "Delete", new { id = item.KategoriID }, new { @style = "color:red;" })*@

                @*<button class="btn btnKategori1"   type="submit" title="Düzenle"> <i class="fas fa-edit"></i></button>

                    <button class="btn btnKategori1"   type="submit" title="Sil"> <i class="far fa-trash-alt"></i></button>*@


                <a href="/Kategori/KategoriDelete/@item.KategoriID" class="button" title="Kaydı sil" style="color:red;">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
                &nbsp;
                <a href='/Kategori/Kategoribring/@item.KategoriID' class="button" title="Kaydı Güncelle">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                </a>

            </td>

        </tr>
    }
</table>
