@model IEnumerable<MVC5_Otomasyon.Models.Classes.Kategori>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h4 style="margin-top:20px; text-align:center; color:green">Kategori Listesi</h4>

@*<div id="toolbar">
        <select class="form-control">
            <option value="">Export Basic</option>
            <option value="all">Export All</option>
            <option value="selected">Export Selected</option>
        </select>
    </div>*@



<div id="toolbar">
    <button class="btn btnKategori" type="submit" onclick="location.href='@Url.Action("Create")'"> <i class="fa fa-plus-circle" style="color: green;"></i> Kategori Ekle</button>
    <button class="btn btnKategori1" type="submit" title="Düzenle"> <i class="fas fa-edit"></i></button>
    <button class="btn btnKategori1" type="submit" title="Sil"> <i class="far fa-trash-alt"></i></button>

   
</div>
<table id="table"
       data-click-to-select="true"
       data-toggle="table"
       data-toolbar="#toolbar"
       data-show-export="true"
       data-pagination="true"
       data-search="true"
       data-maintain-selected="true"
       data-page-size="10"
       data-page-list="[5, 10, 20, 40, 50, 100, ALL]"
       data-export-options='{
         "fileName": "test",
         "ignoreColumn": ["state"]
       }'>
    <thead>
        <tr>

            <th data-field="state" data-checkbox="true"></th>

            <th>
                @Html.DisplayNameFor(model => model.KategoriID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KategoriAd)
            </th>
            <th></th>

        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td></td>

            <td>
                @Html.DisplayFor(modelItem => item.KategoriID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KategoriAd)
            </td>
            <td>
            </td>

        </tr>
    }
</table>
